.faq {
  &__item {
    border: 0.15rem solid rgb(245 206 71 / 40%);
    border-radius: 0.7rem;
    padding-right: 4.5rem;
    padding-left: 4.5rem;
    transition: padding-bottom var(--transition);

    &-title {
      position: relative;
      padding-top: 2.2rem;
      padding-right: 3.5rem;
      padding-bottom: 2.2rem;
      line-height: 135%;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        width: 2.8rem;
        height: 1.4rem;
        // background-image: url("../img/ui/faq-arrow.svg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transform: translateY(-50%) rotate(0);
        transition: transform var(--transition);
      }
    }

    &-body {
      overflow: hidden;
      max-height: 0;
      box-sizing: content-box;
      line-height: 160%;
      transition: max-height var(--transition);
    }

    &:not(:last-child) {
      margin-bottom: 3rem;

      @media (max-width: em(767)) {
        margin-bottom: 1.5rem;
      }
    }

    &--active {
      padding-bottom: 2.5rem;
      transition: padding-bottom var(--transition);

      .faq__item-title {
        &::before {
          transform: translateY(-50%) rotate(180deg);
          transition: transform var(--transition);
        }
      }
    }
  }
}
